<div class="p-3">
    <div class="card">
        <div class="card-body">
            <div class="card-body">
                {{appStateService.productState.keyword}}
                <input type="text" [(ngModel)]="appStateService.productState.keyword">
                <button class="btn btn-outline-success" (click)="searchProducts()"><i class="bi bi-search"></i></button>
            </div>
           <table class="table">
            <thead>
                <tr>
                   <th>Name</th>  <th>Price</th>  <th>Checked</th> 
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let product of appStateService.productState.products">
                    
                    <td>{{ product.name }}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <button (click)="handleCheckedProduct(product)" class="btn btn-outline-success">
                            <i [class]="product.checked?
                            'bi bi-check':'bi bi-circle'">
                            </i>
                        </button>
                    </td>
                    <td *ngIf="appStateService.authState.roles.includes('ADMIN')">
                        <button (click)="handleDeleteProduct(product)" class="btn btn-outline-danger">
                            <i class="bi bi-trash"> </i>
                        </button>
                    </td>
                    <td *ngIf="appStateService.authState.roles.includes('ADMIN')">
                        <button (click)="handleEditProduct(product)" class="btn btn-outline-success">
                            <i class="bi bi-pencil"> </i>
                        </button>
                    </td>
                </tr>
              
            </tbody>
           </table>
           <ul class="nav nav-pills">
            
                <li *ngFor="let page of [].constructor(appStateService.productState.totalPages); let i=index">
                    <button  (click)="handleGoTPage(i+1)"[ngClass]="appStateService.productState.currentPage==(i+1)?
                     'btn btn-success m-1':'btn btn-outline-success: m-1'">
                        {{(i+1)}}
                    </button>

                </li>
            </ul>  
              
           
        </div>
        
    </div>

</div>
